In [1]:
import pandas as pd

In [30]:
df_salaries_ca = pd.read_csv('../../../data/raw_data/salaries_ca_info.csv')
df_salaries_ca = df_salaries_ca.drop(['Unnamed: 0'], axis=1)

In [31]:
df_salaries_us = pd.read_csv('../../../data/raw_data/salaries_us_info.csv')
df_salaries_us = df_salaries_us.drop(['Unnamed: 0'], axis=1)

In [32]:
job_desc_ca_all = pd.read_csv('../../../data/raw_data/jack_scrape_canada.csv')
job_desc_ca_all = job_desc_ca_all.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1)

In [36]:
job_desc_ca_jr = pd.read_csv('../../../data/raw_data/juniorCanadaPostings.csv')
job_desc_ca_jr = job_desc_ca_jr.drop(['Unnamed: 0'], axis=1)

In [38]:
job_desc_ca_sr = pd.read_csv('../../../data/raw_data/seniorCanadaPostings.csv')
job_desc_ca_sr = job_desc_ca_sr.drop(['Unnamed: 0'], axis=1)

In [40]:
job_desc_us = pd.read_csv('../../../data/raw_data/elisa_us_cleaned.csv')
job_desc_us = job_desc_us.drop(['Unnamed: 0'], axis=1)

In [60]:
# Merge all Canada job descriptions
job_desc_ca = job_desc_ca_all.append(job_desc_ca_jr, sort=True)
job_desc_ca = job_desc_ca.append(job_desc_ca_sr, sort=True)

# Drop nans and duplicates
job_desc_ca = job_desc_ca.dropna()
job_desc_ca = job_desc_ca.drop_duplicates(subset=['Company', 'Position'])

In [63]:
# Rename columns to match salary df 
job_desc_ca = job_desc_ca.rename({'Company': 'company', 'Position': 'position'}, axis=1)

In [62]:
df_salaries_ca

,company,position,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus
0,Capital One,Data Scientist,"CA$76,883/yr",CA$73K,CA$125K,"CA$76,883","CA$5,885","CA$5,885","CA$3,272"
1,RBC,Data Scientist,"CA$90,000/yr",CA$55K,CA$135K,"CA$90,000","CA$12,589","CA$11,983","CA$3,147"
2,Scotiabank,Data Scientist,"CA$96,176/yr",CA$74K,CA$103K,"CA$96,176","CA$10,051","CA$10,051","CA$3,327"
3,TD,Data Scientist,"CA$79,473/yr",CA$50K,CA$129K,"CA$79,473","CA$6,062","CA$6,062","CA$2,393"
4,Banque Nationale du Canada/National Bank of Ca...,Data Scientist,"CA$74,945/yr",CA$71K,CA$90K,"CA$74,945","CA$5,045","CA$5,045","CA$1,536"
5,Loblaw Companies,Data Scientist,"CA$90,000/yr",CA$12K,CA$107K,"CA$90,000","CA$9,000","CA$10,008","CA$5,000"
6,Shopify,Data Scientist,"CA$95,489/yr",CA$85K,CA$115K,"CA$95,489",No Reports,NaN,"CA$32,840"
7,Bell Canada,Data Scientist,"CA$80,501/yr",CA$66K,CA$108K,"CA$80,501","CA$11,442","CA$11,442",NaN
8,RBC,Data Scientist - Hourly Intern,CA$27/hr,CA$21,CA$30,NaN,NaN,NaN,NaN
9,IBM,Data Scientist,"CA$85,187/yr",CA$71K,CA$87K,"CA$85,187",CA$509,CA$509,NaN
10,Rogers Communications,Data Scientist,"CA$91,429/yr",CA$70K,CA$121K,"CA$91,429","CA$16,989","CA$16,989","CA$18,956"
11,Deloitte,Data Scientist,"CA$70,052/yr",CA$61K,CA$90K,"CA$70,052",CA$6,CA$6,NaN
12,Boeing,Data Scientist,"CA$100,253/yr",CA$74K,CA$108K,"CA$100,253","CA$3,147","CA$3,147",NaN
13,Intact,Data Scientist - Hourly Intern,CA$29/hr,CA$22,CA$33,NaN,NaN,NaN,NaN
14,Stradigi AI,Data Scientist,"CA$75,110/yr",CA$70K,CA$82K,"CA$75,110",No Reports,NaN,NaN
15,Scotiabank,Data Scientist - Intern,"CA$63,171/yr",CA$57K,CA$82K,NaN,NaN,NaN,NaN
16,HSBC Holdings,Data Scientist - Hourly Intern,CA$30/hr,CA$30,CA$33,NaN,NaN,NaN,NaN
17,Intact,Data Scientist,"CA$82,500/yr",CA$76K,CA$87K,CA$29,No Reports,NaN,NaN
18,ATB Financial,Data Scientist,"CA$80,872/yr",CA$70K,CA$115K,"CA$80,872","CA$5,000","CA$5,000",NaN
19,AeroInfo Systems,Data Scientist,"CA$81,545/yr",CA$79K,CA$99K,"CA$81,545","CA$5,981","CA$5,981",NaN
20,CIBC,Data Scientist - Hourly Intern,CA$27/hr,CA$21,CA$30,NaN,NaN,NaN,NaN
21,University of British Columbia,Data Scientist,"CA$76,000/yr",CA$41K,CA$80K,"CA$76,000",No Reports,NaN,NaN
22,Shopify,Data Scientist - Hourly Intern,CA$37/hr,CA$31,CA$41,NaN,NaN,NaN,NaN
23,Ericsson-Worldwide,Data Scientist,"CA$137,112/yr",CA$67K,CA$181K,"CA$137,112",CA$25,NaN,CA$25
24,LoyaltyOne,Data Scientist,"CA$92,921/yr",CA$74K,CA$97K,"CA$92,921","CA$11,306","CA$11,306",NaN
25,Aviva Canada,Data Scientist,"CA$97,276/yr",CA$69K,CA$115K,"CA$97,276","CA$16,500","CA$16,500",NaN
26,Thomson Reuters,Data Scientist - Hourly Intern,CA$40/hr,CA$35,CA$40,NaN,NaN,NaN,NaN
27,Boston Consulting Group,Data Scientist,"CA$130,000/yr",CA$100K,CA$130K,"CA$130,000","CA$32,500","CA$32,500","CA$8,000"
28,Geotab,Data Scientist,"CA$80,235/yr",CA$65K,CA$95K,"CA$80,235",No Reports,NaN,NaN
29,Precima,Data Scientist,"CA$80,117/yr",CA$80K,CA$85K,"CA$80,117","CA$4,103","CA$4,103",NaN
...,...,...,...,...,...,...,...,...,...
371,CIBC,Data Scientist Co-op - Intern,$45K - CA$49K,CA$45K,CA$49K,NaN,NaN,NaN,NaN
372,CIBC,Data Scientist Co-op - Hourly Intern,$27 - CA$29hourly,CA$27,CA$29,NaN,NaN,NaN,NaN
373,IBM,Data Scientist Co-op - Hourly Intern,$24 - CA$26hourly,CA$24,CA$26,NaN,NaN,NaN,NaN
374,KPMG,Data Scientist Co-op - Intern,$47K - CA$51K,CA$47K,CA$51K,NaN,NaN,NaN,NaN
375,Shopify,Data Scientist Co-op,$68K - CA$73K,CA$68K,CA$73K,CA$68K - CA$74K,CA$68K - CA$74K,CA$476 - CA$515,NaN
376,Ontario Ministère des Transports,Data Scientist Co-op,$35K - CA$37K,CA$35K,CA$37K,CA$35K - CA$37K,CA$35K - CA$37K,NaN,NaN
377,Statistics Canada,Data Scientist Co-op - Hourly Contractor,$21 - CA$22hourly,CA$21,CA$22,NaN,NaN,NaN,NaN
378,Unilever,Data Scientist Co-op - Hourly,$21 - CA$23hourly,CA$21,CA$23,CA$22 - CA$23,CA$22 - CA$23,NaN,NaN
379,BioWare,Data Scientist Co-op - Intern,$46K - CA$50K,CA$46K,CA$50K,NaN,NaN,NaN,NaN
380,FGF Brands,Data Scientist Co-op - Hourly Intern,$20 - CA$22hourly,CA$20,CA$22,NaN,NaN,NaN,NaN
381,Precima,Data Scientist Co-op - Hourly Intern,$31 - CA$33hourly,CA$31,CA$33,NaN,NaN,NaN,NaN
382,Ayogo Health,Data Scientist Co-op - Monthly Intern,$4K - CA$4K,CA$4K,CA$4K,NaN,NaN,NaN,NaN
383,Samplits,Data Scientist Co-op - Monthly Intern,$888 - CA$950,CA$888,CA$950,NaN,NaN,NaN,NaN
384,Buyavette,Data Scientist Co-op - Hourly,$21 - CA$23hourly,CA$21,CA$23,CA$21 - CA$23,CA$21 - CA$23,CA$2K - CA$2K,NaN
385,IATA,Head of Data Science,$173K - CA$183K,CA$173K,CA$183K,CA$173K - CA$185K,CA$173K - CA$185K,NaN,NaN
386,IBM,Data Scientist/Software Engineer - Hourly Intern,$25 - CA$28hourly,CA$25,CA$28,NaN,NaN,NaN,NaN
387,RBC,Data Scientist Coop,$52K - CA$56K,CA$52K,CA$56K,CA$25 - CA$27,CA$25 - CA$27,NaN,NaN
388,RBC,Data Scientist Coop - Hourly Intern,$25 - CA$26hourly,CA$25,CA$26,NaN,NaN,NaN,NaN
389,RBC,Data Scientist Coop - Intern,$52K - CA$57K,CA$52K,CA$57K,NaN,NaN,NaN,NaN
390,Scotiabank,Data Scientist Coop - Intern,$79K - CA$85K,CA$79K,CA$85K,NaN,NaN,NaN,NaN
391,CIBC,Data Scientist Coop,$46K - CA$50K,CA$46K,CA$50K,CA$46K - CA$50K,CA$46K - CA$50K,NaN,NaN
392,University of Victoria,Data Scientist Coop,$38K - CA$41K,CA$38K,CA$41K,CA$38K - CA$41K,CA$38K - CA$41K,NaN,NaN
393,Fraser Health,Data Scientist Coop - Hourly,$20 - CA$22hourly,CA$20,CA$22,CA$20 - CA$22,CA$20 - CA$22,NaN,NaN
394,Athabasca University,Manager - Data Science,$97K - CA$105K,CA$97K,CA$105K,CA$95K - CA$103K,CA$95K - CA$103K,CA$9K - CA$9K,NaN
395,Athabasca University,Manager - Data Science,$96K - CA$105K,CA$96K,CA$105K,CA$95K - CA$104K,CA$95K - CA$104K,CA$9K - CA$9K,NaN
396,Major cannabis company,Manager - Data Science,$91K - CA$98K,CA$91K,CA$98K,NaN,NaN,NaN,NaN
397,goeasy,Sr Manager Data Science,$129K - CA$140K,CA$129K,CA$140K,CA$130K - CA$141K,CA$130K - CA$141K,CA$15K - CA$16K,NaN
398,EMAGIN Clean Technologies,Data Science Lead - Hourly,$48 - CA$52hourly,CA$48,CA$52,CA$48 - CA$52,CA$48 - CA$52,NaN,NaN
399,Capital One,Senior Associate Data Science,$85K - CA$91K,CA$85K,CA$91K,CA$83K - CA$91K,CA$83K - CA$91K,CA$10K - CA$11K,NaN
400,Softchoice,Data Science and Analytics - Intern,$45K - CA$49K,CA$45K,CA$49K,NaN,NaN,NaN,NaN

In [75]:
salaries_ca = pd.merge(df_salaries_ca, job_desc_ca, on=['company'])

In [76]:
salaries_ca

,company,position_x,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus,Description,Glassdoor Salary Estimate,Industry,Location,position_y,Rating,Revenue,Sector,Size,Year Founded
0,RBC,Data Scientist,"CA$90,000/yr",CA$55K,CA$135K,"CA$90,000","CA$12,589","CA$11,983","CA$3,147",What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
1,RBC,Data Scientist - Hourly Intern,CA$27/hr,CA$21,CA$30,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
2,RBC,Data Scientist - Monthly,$8K - CA$9K,CA$8K,CA$9K,"CA$90,000","CA$12,589","CA$11,983","CA$3,147",What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
3,RBC,Data Scientist - Hourly Contractor,$27 - CA$29hourly,CA$27,CA$29,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
4,RBC,Senior Data Scientist,"CA$110,892/yr",CA$105K,CA$113K,"CA$110,892","CA$17,767","CA$17,767",NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
5,RBC,Data Scientist Co-op - Hourly Intern,CA$27/hr,CA$26,CA$29,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
6,RBC,Junior Data Scientist,$53K - CA$58K,CA$53K,CA$58K,CA$53K - CA$57K,CA$53K - CA$57K,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
7,RBC,Data Scientist Coop,$52K - CA$56K,CA$52K,CA$56K,CA$25 - CA$27,CA$25 - CA$27,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
8,RBC,Data Scientist Coop - Hourly Intern,$25 - CA$26hourly,CA$25,CA$26,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
9,RBC,Data Scientist Coop - Intern,$52K - CA$57K,CA$52K,CA$57K,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
10,Scotiabank,Data Scientist,"CA$96,176/yr",CA$74K,CA$103K,"CA$96,176","CA$10,051","CA$10,051","CA$3,327",Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
11,Scotiabank,Data Scientist,"CA$96,176/yr",CA$74K,CA$103K,"CA$96,176","CA$10,051","CA$10,051","CA$3,327",Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
12,Scotiabank,Data Scientist - Intern,"CA$63,171/yr",CA$57K,CA$82K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
13,Scotiabank,Data Scientist - Intern,"CA$63,171/yr",CA$57K,CA$82K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
14,Scotiabank,Data Scientist - Hourly Intern,$28 - CA$36hourly,CA$28,CA$36,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
15,Scotiabank,Data Scientist - Hourly Intern,$28 - CA$36hourly,CA$28,CA$36,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
16,Scotiabank,Data Scientist - Monthly Intern,$5K - CA$5K,CA$5K,CA$5K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
17,Scotiabank,Data Scientist - Monthly Intern,$5K - CA$5K,CA$5K,CA$5K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
18,Scotiabank,Data Scientist Co-op - Monthly Intern,"CA$7,141/mo",CA$1K,CA$13K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
19,Scotiabank,Data Scientist Co-op - Monthly Intern,"CA$7,141/mo",CA$1K,CA$13K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
20,Scotiabank,Senior Data Scientist,$90K - CA$136K,CA$90K,CA$136K,CA$91K - CA$137K,CA$91K - CA$137K,CA$10K - CA$19K,CA$3K - CA$3K,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
21,Scotiabank,Senior Data Scientist,$90K - CA$136K,CA$90K,CA$136K,CA$91K - CA$137K,CA$91K - CA$137K,CA$10K - CA$19K,CA$3K - CA$3K,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
22,Scotiabank,Data Scientist Co-op - Intern,$73K - CA$85K,CA$73K,CA$85K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
23,Scotiabank,Data Scientist Co-op - Intern,$73K - CA$85K,CA$73K,CA$85K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
24,Scotiabank,Junior Data Scientist - Hourly Intern,$22 - CA$24hourly,CA$22,CA$24,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
25,Scotiabank,Junior Data Scientist - Hourly Intern,$22 - CA$24hourly,CA$22,CA$24,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
26,Scotiabank,Data Scientist Co-op - Hourly Intern,$29 - CA$31hourly,CA$29,CA$31,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
27,Scotiabank,Data Scientist Co-op - Hourly Intern,$29 - CA$31hourly,CA$29,CA$31,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
28,Scotiabank,Data Scientist Co-op - Hourly Contractor,$38 - CA$42hourly,CA$38,CA$42,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
29,Scotiabank,Data Scientist Co-op - Hourly Contractor,$38 - CA$42hourly,CA$38,CA$42,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Top Hat,Data Scientist,$96K - CA$104K,CA$96K,CA$104K,CA$95K - CA$104K,CA$95K - CA$104K,NaN,NaN,We are looking for a Data Analyst to help buil...,-1.0,Colleges & Universities,Toronto,Data Analyst,3.5,$25 to $50 million (USD),Education,201 to 500 Employees,2009.0
154,SSENSE,Data Scientist,$68K - CA$74K,CA$68K,CA$74K,CA$68K - CA$75K,CA$68K - CA$75K,CA$7K - CA$7K,NaN,"Company Description\r\r\r\n\r\r\r\nSSENSE, pro...",-1.0,"Department, Clothing, & Shoe Stores",Montreal,Senior Data Scientist,4.0,Unknown / Non-Applicable,Retail,501 to 1000 Employees,2003.0
155,Alberta Motor Association,Data Scientist,$82K - CA$89K,CA$82K,CA$89K,CA$82K - CA$88K,CA$82K - CA$88K,NaN,NaN,A computer\r\r\nIS YOUR crystal BALL\r\r\nPost...,-1.0,Membership Organizations,Edmonton,Senior Data Scientist,3.0,$100 to $500 million (USD),Business Services,1001 to 5000 Employees,-1.0
156,League,Data Scientist,$97K - CA$103K,CA$97K,CA$103K,CA$97K - CA$105K,CA$97K - CA$105K,NaN,NaN,The Data Analyst we are looking for will make ...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Analyst,3.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2014.0
157,Prodigy Education,Data Scientist,$106K - CA$114K,CA$106K,CA$114K,CA$106K - CA$113K,CA$106K - CA$113K,NaN,CA$2K - CA$2K,"Prodigy Education connects students, parents, ...",-1.0,Computer Hardware & Software,Oakville,"Data Scientist, Game",4.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2011.0
158,Prodigy Education,Data Scientist,$106K - CA$114K,CA$106K,CA$114K,CA$106K - CA$113K,CA$106K - CA$113K,NaN,CA$2K - CA$2K,"Prodigy Education connects students, parents, ...",-1.0,Computer Hardware & Software,Oakville,"Data Scientist, Marketing & Web Analytics",4.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2011.0
159,Prodigy Education,Data Scientist,$106K - CA$114K,CA$106K,CA$114K,CA$106K - CA$113K,CA$106K - CA$113K,NaN,CA$2K - CA$2K,"Prodigy Education connects students, parents, ...",-1.0,Computer Hardware & Software,Oakville,"Data Scientist, Sales & Customer Success",4.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2011.0
160,Xe,Data Scientist - Monthly Intern,$3K - CA$3K,CA$3K,CA$3K,NaN,NaN,NaN,NaN,XE is looking for an experienced Senior Data E...,-1.0,Financial Transaction Processing,Newmarket,Senior Data Engineer,3.3,$100 to $500 million (USD),Finance,201 to 500 Employees,1993.0
161,Xe,Data Scientist,$86K - CA$93K,CA$86K,CA$93K,CA$86K - CA$94K,CA$86K - CA$94K,CA$4K - CA$5K,NaN,XE is looking for an experienced Senior Data E...,-1.0,Financial Transaction Processing,Newmarket,Senior Data Engineer,3.3,$100 to $500 million (USD),Finance,201 to 500 Employees,1993.0
162,Facebook,Data Scientist - Hourly Intern,$35 - CA$37hourly,CA$35,CA$37,NaN,NaN,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
163,Facebook,Senior Data Scientist,$170K - CA$181K,CA$170K,CA$181K,CA$170K - CA$182K,CA$170K - CA$182K,CA$24K - CA$26K,CA$57K - CA$63K,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
164,Thinkific,Data Scientist - Hourly Intern,$20 - CA$21hourly,CA$20,CA$21,NaN,NaN,NaN,NaN,We'd love to put your mind at ease while looki...,-1.0,Internet,Vancouver,"Data Analyst, Product",4.7,Unknown / Non-Applicable,Information Technology,51 to 200 Employees,2012.0
165,Overbond,Data Scientist - Monthly Intern,$1K - CA$1K,CA$1K,CA$1K,NaN,NaN,NaN,NaN,About Us\r\n\r\nWe’re a leading financial tech...,-1.0,Federal Agencies,Toronto,Data Scientist,3.6,Unknown / Non-Applicable,Government,1 to 50 Employees,2020.0
166,Wish,Data Scientist - Monthly Intern,$5K - CA$6K,CA$5K,CA$6K,NaN,NaN,NaN,NaN,Company Description\r\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Other Retail Stores,Toronto,Data Scientist,3.5,$1 to $2 billion (USD),Retail,501 to 1000 Employees,2011.0
167,Cerebri AI,Data Scientist - Monthly,$5K - CA$5K,CA$5K,CA$5K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
168,Cerebri AI,Data Scientist - Monthly,$5K - CA$5K,CA$5K,CA$5K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
169,Cerebri AI,Data Scientist,$11K - CA$12K,CA$11K,CA$12K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
170,Cerebri AI,Data Scientist,$11K - CA$12K,CA$11K,CA$12K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
171,Cerebri AI,Senior Data Scientist,$72K - CA$132K,CA$72K,CA$132K,CA$72K - CA$129K,CA$72K - CA$129K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
172,Cerebri AI,Senior Data Scientist,$72K - CA$132K,CA$72K,CA$132K,CA$72K - CA$129K,CA$72K - CA$129K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
173,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,* FUTURE OPPORTUNITY **\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Insurance Carriers,Markham,"Senior Actuarial Analyst, Commercial Insurance...",3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
174,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,Have you ever wondered about the future of act...,-1.0,Insurance Carriers,Markham,Senior Actuarial Analyst,3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
175,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,Aviva Canada Inc. has multiple excellent oppor...,-1.0,Insurance Carriers,Markham,Senior Actuarial Analyst (Commercial P&C),3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
176,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,Are you passionate about data and not afraid o...,-1.0,Insurance Carriers,Markham,"Senior Actuarial Analyst, Personal Insurance S...",3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
177,SurveyMonkey,Senior Data Scientist,$130K - CA$140K,CA$130K,CA$140K,CA$130K - CA$139K,CA$130K - CA$139K,NaN,NaN,Who we are and what we do\r\r\r\r\r\r\r\r\r\r\...,-1.0,Internet,Ottawa,Data Scientist II,4.7,$100 to $500 million (USD),Information Technology,1001 to 5000 Employees,1999.0
178,Exiger,Senior Data Scientist,$144K - CA$157K,CA$144K,CA$157K,CA$144K - CA$157K,CA$144K - CA$157K,CA$13K - CA$14K,CA$22K - CA$24K,"Location: Toronto, Canada\r\r\r\r\r\r\r\r\n\r\...",-1.0,Consulting,Toronto,Tech - Data Analyst,3.2,Unknown / Non-Applicable,Business Services,501 to 1000 Employees,2013.0
179,Exiger,Senior Data Scientist,$144K - CA$157K,CA$144K,CA$157K,CA$144K - CA$157K,CA$144K - CA$157K,CA$13K - CA$14K,CA$22K - CA$24K,"Location: Toronto, Canada\r\r\r\r\r\r\r\r\r\r\...",-1.0,Consulting,Toronto,Tech- Senior Linux Infrastructure Engineer (De...,3.2,Unknown / Non-Applicable,Business Services,501 to 1000 Employees,2013.0
180,Fiddlehead,Junior Data Scientist,$53K - CA$56K,CA$53K,CA$56K,CA$53K - CA$57K,CA$53K - CA$57K,NaN,NaN,What you'll do\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,-1,Moncton,Data Scientist,5.0,Less than $1 million (USD),-1,1 to 50 Employees,-1.0
181,Loblaw Digital,Principal Data Scientist,$140K - CA$151K,CA$140K,CA$151K,CA$139K - CA$151K,CA$139K - CA$151K,NaN,CA$19K - CA$21K,"At Loblaw Digital, we know that our customers ...",-1.0,Internet,Toronto,Senior Data Scientist,3.6,Unknown / Non-Applicable,Information Technology,51 to 200 Employees,-1.0
182,Fraser Health,Data Scientist Coop - Hourly,$20 - CA$22hourly,CA$20,CA$22,CA$20 - CA$22,CA$20 - CA$22,NaN,NaN,Data Scientist\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Health Care Services & Hospitals,Surrey,Data Scientist,3.7,$2 to $5 billion (USD),Health Care,10000+ Employees,2001.0

In [68]:
# Rename columns to match salary df 
job_desc_us = job_desc_ca.rename({'Company': 'company', 'Position': 'position'}, axis=1)

In [73]:
salaries_us = pd.merge(df_salaries_us, job_desc_us, on=['company'])

In [74]:
salaries_us

,company,position_x,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus,Description,Glassdoor Salary Estimate,Industry,Location,position_y,Rating,Revenue,Sector,Size,Year Founded
0,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395",Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
1,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
2,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
3,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395",Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
4,Facebook,Data Scientist - Intern,$83K - $90K,$83K,$90K,NaN,NaN,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
5,Facebook,Data Scientist - Hourly,$77 - $83hourly,$77,$83,$44,No Reports,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
6,Facebook,Data Science Manager,"$200,526/yr",$172K,$231K,"$190,975","$41,455","$41,455","$124,303",Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
7,Facebook,"Data Scientist, Analytics","$122,369/yr",$111K,$158K,"$122,369","$12,215","$12,215","$20,318",Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
8,Facebook,Data Scientist Manager,"$177,251/yr",$172K,$228K,"$190,975","$41,455","$41,455","$124,303",Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
9,Facebook,Senior Data Scientist,"$174,267/yr",$130K,$193K,"$174,267","$25,329","$25,329","$81,098",Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
10,Facebook,Junior Data Scientist,$97K - $108K,$97K,$108K,$97K - $107K,$97K - $107K,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
11,Facebook,Principal Data Scientist,$110K - $219K,$110K,$219K,$109K - $218K,$109K - $218K,$38K - $42K,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
12,Facebook,Data Scientist Intern,$126K - $137K,$126K,$137K,$126K - $135K,$126K - $135K,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
13,Facebook,Entry Level Data Scientist,$112K - $121K,$112K,$121K,$112K - $122K,$112K - $122K,NaN,$71K - $78K,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
14,Facebook,"Data Scientist, Analytics - Monthly Intern",$6K - $7K,$6K,$7K,NaN,NaN,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
15,Facebook,Head of Data Science,$231K - $248K,$231K,$248K,$231K - $249K,$231K - $249K,$58K - $63K,$173K - $187K,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
16,Facebook,Research Data Scientist,$204K - $220K,$204K,$220K,$204K - $219K,$204K - $219K,$41K - $44K,$155K - $168K,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
17,Facebook,Product Data Scientist,$132K - $143K,$132K,$143K,$131K - $142K,$131K - $142K,NaN,$48K - $52K,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
18,IBM,Data Scientist,"$124,166/yr",$61K,$211K,"$124,166","$3,173","$5,087","$30,508","Introduction\r\r\r\r\r\r\r\r\r\nAt IBM, work i...",-1.0,IT Services,Markham,Data Scientist Intern (4 months),3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
19,IBM,Data Scientist,"$124,166/yr",$61K,$211K,"$124,166","$3,173","$5,087","$30,508",Introduction\r\r\r\r\r\nAs a Package Consultan...,-1.0,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
20,IBM,Data Scientist - Hourly Intern,$33/hr,$26,$40,NaN,NaN,NaN,NaN,"Introduction\r\r\r\r\r\r\r\r\r\nAt IBM, work i...",-1.0,IT Services,Markham,Data Scientist Intern (4 months),3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
21,IBM,Data Scientist - Hourly Intern,$33/hr,$26,$40,NaN,NaN,NaN,NaN,Introduction\r\r\r\r\r\nAs a Package Consultan...,-1.0,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
22,IBM,Data Scientist - Hourly,$47/hr,$31,$74,$33,No Reports,NaN,NaN,"Introduction\r\r\r\r\r\r\r\r\r\nAt IBM, work i...",-1.0,IT Services,Markham,Data Scientist Intern (4 months),3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
23,IBM,Data Scientist - Hourly,$47/hr,$31,$74,$33,No Reports,NaN,NaN,Introduction\r\r\r\r\r\nAs a Package Consultan...,-1.0,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
24,IBM,Data Scientist - Monthly,"$9,821/mo",$7K,$11K,"$124,166","$3,173","$5,087","$30,508","Introduction\r\r\r\r\r\r\r\r\r\nAt IBM, work i...",-1.0,IT Services,Markham,Data Scientist Intern (4 months),3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
25,IBM,Data Scientist - Monthly,"$9,821/mo",$7K,$11K,"$124,166","$3,173","$5,087","$30,508",Introduction\r\r\r\r\r\nAs a Package Consultan...,-1.0,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
26,IBM,Data Scientist - Contractor,$101K - $109K,$101K,$109K,NaN,NaN,NaN,NaN,"Introduction\r\r\r\r\r\r\r\r\r\nAt IBM, work i...",-1.0,IT Services,Markham,Data Scientist Intern (4 months),3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
27,IBM,Data Scientist - Contractor,$101K - $109K,$101K,$109K,NaN,NaN,NaN,NaN,Introduction\r\r\r\r\r\nAs a Package Consultan...,-1.0,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
28,IBM,Data Scientist - Monthly Intern,$1K - $1K,$1K,$1K,NaN,NaN,NaN,NaN,"Introduction\r\r\r\r\r\r\r\r\r\nAt IBM, work i...",-1.0,IT Services,Markham,Data Scientist Intern (4 months),3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
29,IBM,Data Scientist - Monthly Intern,$1K - $1K,$1K,$1K,NaN,NaN,NaN,NaN,Introduction\r\r\r\r\r\nAs a Package Consultan...,-1.0,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,10000+ Employees,1911.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,QuantumBlack,Senior Data Scientist,$137K - $148K,$137K,$148K,$136K - $148K,$136K - $148K,$15K - $16K,NaN,"Who we are\r\r\r\r\r\r\nAt BioPharma, people m...",-1.0,Biotech & Pharmaceuticals,Montreal,Senior Biostatistician,2.8,Unknown / Non-Applicable,Biotech & Pharmaceuticals,201 to 500 Employees,2006.0
627,Cerebri AI,Data Scientist,$102K - $110K,$102K,$110K,$102K - $111K,$102K - $111K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
628,Cerebri AI,Data Scientist,$102K - $110K,$102K,$110K,$102K - $111K,$102K - $111K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
629,AXIS Capital,Data Scientist - Hourly Intern,$23 - $24hourly,$23,$24,NaN,NaN,NaN,NaN,This is your opportunity to join AXIS Capital ...,-1.0,Insurance Carriers,Halifax,Lead Data Analyst,3.0,$2 to $5 billion (USD),Insurance,1001 to 5000 Employees,2001.0
630,Enverus,Data Scientist,$106K - $114K,$106K,$114K,$106K - $115K,$106K - $115K,NaN,NaN,Senior Data Scientist\r\r\n\r\r\nWhy YOU want ...,-1.0,Energy,Calgary,Senior Data Scientist,3.5,$100 to $500 million (USD),"Oil, Gas, Energy & Utilities",1001 to 5000 Employees,1999.0
631,Enverus,Data Scientist,$106K - $114K,$106K,$114K,$106K - $115K,$106K - $115K,NaN,NaN,Sr. Data Scientist\r\r\r\r\r\n\r\r\r\r\r\nWhy ...,-1.0,Energy,Calgary,Sr. Data Scientist,3.5,$100 to $500 million (USD),"Oil, Gas, Energy & Utilities",1001 to 5000 Employees,1999.0
632,Coursera,Data Scientist,$121K - $132K,$121K,$132K,$122K - $132K,$122K - $132K,NaN,NaN,Coursera is a leading online learning platform...,-1.0,Colleges & Universities,Toronto,"Senior Data Scientist, Machine Learning",4.1,Unknown / Non-Applicable,Education,501 to 1000 Employees,2012.0
633,Coursera,Senior Data Scientist,"$175,591/yr",$153K,$183K,"$175,591","$4,146","$4,146",NaN,Coursera is a leading online learning platform...,-1.0,Colleges & Universities,Toronto,"Senior Data Scientist, Machine Learning",4.1,Unknown / Non-Applicable,Education,501 to 1000 Employees,2012.0
634,Guavus,Data Scientist,$174K - $186K,$174K,$186K,$173K - $187K,$173K - $187K,NaN,NaN,"Guavus, a Thales company, is seeking a Data Sc...",-1.0,Enterprise Software & Network Solutions,Montreal,Data Scientist Intern,2.8,$25 to $50 million (USD),Information Technology,201 to 500 Employees,2006.0
635,Numerator,Data Scientist,$112K - $122K,$112K,$122K,$113K - $120K,$113K - $120K,$11K - $12K,NaN,We are looking for a Data Analyst - Product to...,-1.0,IT Services,Ottawa,Data Analyst - Product,4.1,$100 to $500 million (USD),Information Technology,1001 to 5000 Employees,2004.0
636,Numerator,Lead Data Scientist,$169K - $185K,$169K,$185K,$172K - $185K,$172K - $185K,NaN,NaN,We are looking for a Data Analyst - Product to...,-1.0,IT Services,Ottawa,Data Analyst - Product,4.1,$100 to $500 million (USD),Information Technology,1001 to 5000 Employees,2004.0
637,BMO Financial Group,Data Scientist,$69K - $75K,$69K,$75K,$69K - $75K,$69K - $75K,$7K - $8K,NaN,Address:\r\r\n\r\r\n60 Yonge Street\r\r\nJob F...,-1.0,Banks & Credit Unions,Toronto,Senior Data Scientist,3.7,$10+ billion (USD),Finance,10000+ Employees,1817.0
638,BMO Financial Group,Data Scientist,$69K - $75K,$69K,$75K,$69K - $75K,$69K - $75K,$7K - $8K,NaN,Address:\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Brookfield,Data Analyst,3.7,$10+ billion (USD),Finance,10000+ Employees,1817.0
639,BMO Financial Group,Data Scientist,$69K - $75K,$69K,$75K,$69K - $75K,$69K - $75K,$7K - $8K,NaN,Address:\r\r\r\r\r\r\n\r\r\r\r\r\r\n120 Bloor ...,-1.0,Banks & Credit Unions,Toronto,Technical Data Analyst,3.7,$10+ billion (USD),Finance,10000+ Employees,1817.0
640,BMO Financial Group,Data Scientist,$69K - $75K,$69K,$75K,$69K - $75K,$69K - $75K,$7K - $8K,NaN,Address:\r\r\r\r\n\r\r\r\r\n120 Bloor Street E...,-1.0,Banks & Credit Unions,Toronto,Senior Technical Data Analyst,3.7,$10+ billion (USD),Finance,10000+ Employees,1817.0
641,BMO Financial Group,Data Scientist,$69K - $75K,$69K,$75K,$69K - $75K,$69K - $75K,$7K - $8K,NaN,"Address:\r\r\r\n\r\r\r\n2000 Argentia Road, Pl...",-1.0,Banks & Credit Unions,Mississauga,"Senior Data Analyst, North American Risk and C...",3.7,$10+ billion (USD),Finance,10000+ Employees,1817.0
642,J.D. Power,Senior Data Scientist,$127K - $160K,$127K,$160K,$128K - $161K,$128K - $161K,$9K - $10K,NaN,Title: Data Analyst Engineer\r\r\r\r\r\r\r\r\n...,-1.0,Research & Development,London,Data Analyst / Engineer,3.0,$100 to $500 million (USD),Business Services,501 to 1000 Employees,1968.0
643,J.D. Power,Data Science Analyst,$90K - $96K,$90K,$96K,$89K - $97K,$89K - $97K,NaN,NaN,Title: Data Analyst Engineer\r\r\r\r\r\r\r\r\n...,-1.0,Research & Development,London,Data Analyst / Engineer,3.0,$100 to $500 million (USD),Business Services,501 to 1000 Employees,1968.0
644,J.D. Power,Director of Data Science,$102K - $110K,$102K,$110K,$101K - $110K,$101K - $110K,NaN,NaN,Title: Data Analyst Engineer\r\r\r\r\r\r\r\r\n...,-1.0,Research & Development,London,Data Analyst / Engineer,3.0,$100 to $500 million (USD),Business Services,501 to 1000 Employees,1968.0
645,Gameloft,Senior Data Scientist,$129K - $139K,$129K,$139K,$127K - $138K,$127K - $138K,NaN,NaN,Company Description\r\r\r\r\r\r\r\r\r\n\r\r\r\...,-1.0,Video Games,Montreal,DevOps junior (Équipe lac de données) - Junior...,3.3,$100 to $500 million (USD),Media,5001 to 10000 Employees,2000.0
646,Tata Consultancy Services (North America),Senior Data Scientist,$125K - $136K,$125K,$136K,$125K - $137K,$125K - $137K,$11K - $11K,NaN,Job Description\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\...,-1.0,IT Services,Toronto,Data Analyst,3.7,$10+ billion (USD),Information Technology,10000+ Employees,1968.0
647,Tata Consultancy Services (North America),Associate Data Scientist,$76K - $81K,$76K,$81K,$76K - $81K,$76K - $81K,NaN,NaN,Job Description\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\...,-1.0,IT Services,Toronto,Data Analyst,3.7,$10+ billion (USD),Information Technology,10000+ Employees,1968.0
648,Nuance,Senior Data Scientist,$121K - $131K,$121K,$131K,$121K - $132K,$121K - $132K,NaN,NaN,Company Overview / PrÃ©sentation de lâentrepri...,-1.0,Computer Hardware & Software,Montreal,Chercheur Scientifique Senior - NLU - Senior R...,3.5,$1 to $2 billion (USD),Information Technology,5001 to 10000 Employees,1992.0
649,Jonas Software,Senior Data Scientist,$89K - $95K,$89K,$95K,$88K - $95K,$88K - $95K,NaN,NaN,Job Description:\r\r\r\n\r\r\r\n\r\r\r\nPostgr...,-1.0,Computer Hardware & Software,Halifax,Postgresql Database Developer,3.0,$25 to $50 million (USD),Information Technology,201 to 500 Employees,-1.0
650,CI Financial,Junior Data Scientist - Hourly,$31 - $34hourly,$31,$34,$32 - $34,$32 - $34,NaN,NaN,ABOUT US\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\r...,-1.0,Investment Banking & Asset Management,Toronto,Data Scientist,3.5,$1 to $2 billion (USD),Finance,1001 to 5000 Employees,1965.0
651,Glu Mobile,Associate Data Scientist,$111K - $119K,$111K,$119K,$110K - $118K,$110K - $118K,NaN,NaN,Role Overview:\r\r\r\r\r\r\r\r\r\r\nAs a Data ...,-1.0,Computer Hardware & Software,Toronto,Data Analyst,3.5,$100 to $500 million (USD),Information Technology,501 to 1000 Employees,2001.0
652,Glu Mobile,Associate Data Scientist,$111K - $119K,$111K,$119K,$110K - $118K,$110K - $118K,NaN,NaN,Team Overview\r\r\r\nGames have a special plac...,-1.0,Computer Hardware & Software,Toronto,Senior Data Analyst,3.5,$100 to $500 million (USD),Information Technology,501 to 1000 Employees,2001.0
653,Veeva Systems,Associate Data Scientist,$86K - $94K,$86K,$94K,$86K - $94K,$86K - $94K,NaN,NaN,"At Veeva, we build enterprise cloud technology...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist (Remote),3.8,$500 million to $1 billion (USD),Information Technology,1001 to 5000 Employees,2007.0
654,Publicis Sapient,Data Scientist Consultant,$108K - $118K,$108K,$118K,$109K - $119K,$109K - $119K,NaN,NaN,As a digital business transformation partner o...,-1.0,Consulting,Toronto,Senior Associate Data Strategy,3.5,Unknown / Non-Applicable,Business Services,10000+ Employees,1990.0
655,Publicis Sapient,Data Scientist Consultant,$108K - $118K,$108K,$118K,$109K - $119K,$109K - $119K,NaN,NaN,As a digital business transformation partner o...,-1.0,Consulting,Toronto,Manager Data Strategy,3.5,Unknown / Non-Applicable,Business Services,10000+ Employees,1990.0